{% extends 'Reg_Natural_base.html' %}
{% load static %}
{% block content %}
<head>
    <title>Crear Usuario Empresa</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/formulario_paso3.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="{% static 'js/telefono_validation.js' %}"></script>

</head>

<div class="container-fluid d-flex rounded-20">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card border-custom text-center shadow ">
                <h5 class="font-weight-bold text-left ml-1 mt-2">Ingresa tu telefono</h5>
                <p class="text-secondary text-left ml-1 mt-3 mb-3">Con este telefono podras entrar a<br>
                tu cuenta</p>
                
                <form method="post">
                    {% csrf_token %}
                    {{ form.cell }}
                    {{ form.cell.errors }}
                    <p class="text-secondary text-left">Codigo area + numero.</p>
                    <button type="submit" class="btn btn-primary mt-3" name="submit">Continuar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
