.card-title{
    text-align: center;
    margin-bottom: 2rem;
}

.btn.btn-primary {
    align-items: center;
    justify-content: center;
}
.boton{
    justify-content: center;
}

.custom-class{
    
}